* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    background: #9c9c9c;
    min-height: 100vh;
}

/* CONTAINER */
.container {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

/* HEADER */
.header {
    background: linear-gradient(
        270deg,
        #222222,
        #554f52,
        #222222
    );
    background-size: 400% 400%;

    color: white;
    text-align: center;
    padding: 30px;
    margin-bottom: 10px;

    animation: gradientMove 5s ease infinite;
}

@keyframes gradientMove {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.typing {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    border-right: 3px solid #ff69b4;
    width: 0;

    animation:
        typing 10s steps(32, end) infinite,
        blink 0.8s step-end infinite;
}

@keyframes typing {
    0% { width: 0; }
    45% { width: 32ch; }
    55% { width: 32ch; }
    100% { width: 0; }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

/* GRID */
.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

/* EDUCATION */
.card.edu{
    background: rgba(100, 98, 99, 0.733);
    color: #e5e5e5;
    border-radius: 25px;
    padding: 20px;
    min-height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.edu-item {
    display: flex;
    align-items: center;
    margin: 10px 0;
    border-radius: 25px;
    overflow: hidden;
    background: #2d2d2e; 
}

.school {
    flex: 1;
    padding: 12px 20px;
    color: white;
}

.year {
    flex: 1;
    background: rgb(53, 51, 50);
    height: 100%; 
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    white-space: nowrap; 
}

/* LANGUAGE*/
.card.lang{
    background: rgb(85, 75, 75);
    color: #e5e5e5;
    border-radius: 25px;
    padding: 20px;
    min-height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.lang-item {
    display: flex;
    align-items: center;
    gap: 15px;
    margin: 15px;
}

.circle {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    font-weight: bold;
    color: white;
    
    background: conic-gradient(
        #a09d9d calc(var(--percent) * 1%), 
        #232324 0%
    );
}

.circle::before {
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    background: rgb(85, 75, 75); 
    border-radius: 50%;
}

.circle span {
    position: relative;
    z-index: 1;
}

/* EXPERIENCE */
.card.exp{
    background: rgb(85, 75, 75);
    color: #e5e5e5;
    border-radius: 25px;
    padding: 20px;
    min-height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.garis {
    position: relative;
    margin-left: 20px;
}


.garis::before {
    content: "";
    position: absolute;
    left: 6px;
    top: 10px;
    width: 2px;
    bottom: 0;
    background: #e06880;
}

.garis-item {
    position: relative;
    margin-bottom: 20px;
    padding-left: 30px;
}


.titik {
    position: absolute;
    left: 0;
    top: 5px;
    width: 15px;
    height: 15px;
    background: #e06880;
    border-radius: 50%;
}

.isi {
    margin: 5px 0;
    font-size: 16px;
    color: #e5e5e5;
}

/* CONTACT*/
.card.contact{
    background: rgba(100, 98, 99, 0.733);
    border-radius: 25px;
    padding: 20px;
    min-height: 155px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white !important;
    text-decoration: none !important;
    
}

.contact-item {
    margin: 8px 0;
    padding: 12px;
    background: #2d2d2e;
    border-radius: 25px;
}

.contact a,
.contact a:visited,
.contact a:active {
    color: white !important;
    text-decoration: none !important;
}

/* HOBBI*/
.card.hob{
    background: rgb(80, 77, 78);
    border-radius: 25px;
    padding: 20px;
    min-height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hob-item {
    display: flex;
    justify-content: space-between;
    color: white;
    align-items: center;
    margin: 10px 0;
    padding: 10px 15px;
    background: #2d2d2e;
    border-radius: 15px;
}

.stars {
    color: #ffcc00; 
    font-size: 18px;
    letter-spacing: 2px;
}

/* ARCHIVE*/
.card.ar{
    background: rgb(80, 77, 78);
    color: #e5e5e5;
    border-radius: 25px;
    padding: 20px;
    min-height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.foto img{
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 25px;
    box-shadow: #332e30 10px;
    margin: 5px;
}

/* SKILL*/
.skill {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    font-weight: 500;
}

.progress {
    width: 100%;
    height: 13px;
    background: #f3f3f3;
    border-radius: 25px;
    margin: 8px 0 12px;
    overflow: hidden;
}

.progress-bar {
    height: 100%;
    background: linear-gradient(90deg, #ffffff, #494848);
    border-radius: 25px;
}


.card:hover {
    transform: scale(1.02);
    transition: 0.3s;
}

/* SPAN */
.card.span-2 {
    grid-column: span 2;
    background: #272324;
    border-radius: 25px;
    padding: 20px;
    min-height: 150px;
    color: #ffffff 
}

/* HERO */
.hero-box {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 30px;
    color: white;
    padding: 30px;
    border-radius: 25px;
    box-shadow: 0 2px 5px;
}

.hero-box:hover {
    transform: scale(1.02);
    transition: 0.3s;
}

.hero-left img {
    width: 180px;
    height: 200px;
    object-fit: cover;
    border-radius: 25px;
    box-shadow: #332e30 10px;
}



@media (max-width: 768px) {

    body {
        padding: 10px;
    }

    .container {
        padding: 10px;
    }

    .grid {
        grid-template-columns: 1fr !important;
    }

    .card.span-2 {
        grid-column: span 1 !important;
    }

    .edu-item {
        flex-direction: column;
        align-items: flex-start;
    }

    .year {
        width: 100%;
        white-space: normal;
    }

}
