{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Friezcha's Portofolio</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

<div class="container">

    <!-- HEADER -->
    <header class="header">
        <h1>🎀 Friezcha Salsabila Putri Bachtiar 🎀</h1>
    </header>

    <!-- GRID -->
    <main class="grid">

        <!-- HERO -->
        <section class="card hero-box span-2">
            <div class="hero-left">
                <img src="{% static 'img/foto_cica.png' %}" alt="Profile">
            </div>

            <div class="hero">
                <h2>Data Science Student | Professional Freelance Model</h2>
                <p> My world revolves around algorithms and camera lenses. <br>
                    As a Data Science student, I’m learning how to translate complex information into valuable insights.<br>
                    As a freelance model, I translate creative visions into visuals that tell a story.<br>
                    I bring professionalism, discipline, and the ability to adapt quickly to every project I undertake.
                </p>
                <p>-----------------------------------</p>
                <p> <b>Address: Kebumen, Jawa Tengah </b></p>
            </div>
        </section>


        <!-- EDUCATION -->
        <section class="card edu">
            <h3>🎓 Education</h3>
            <div class="edu-item">
                <span class="school">S1 Sains Data UIN Salatiga</span>
                <span class="year">(2024 - Present)</span>
            </div>

            <div class="edu-item">
                <span class="school">SMA Islam Al-Kahfi</span>
                <span class="year">(2021 - 2024)</span>
            </div>

            <div class="edu-item">
                <span class="school">SMPN 1 Karanganyar</span>
                <span class="year">(2018 - 2021)</span>
            </div>
        </section>

        <!-- LANGUAGE -->
        <section class="card lang">
            <h3>🌍 Language</h3>

            <div class="lang-item">
                <div class="circle" style="--percent: 100"> <span>100%</span> </div>
                <p>Indonesian (Native) </p>
            </div>

            <div class="lang-item">
                <div class="circle" style="--percent: 40"> <span>40%</span> </div>
                <p>English (Beginner)</p>
            </div>
            
        </section>

        <!-- EXPERIENCE -->
        <section class="card exp">
            <h3>💼 Experience</h3>

            <div class="garis">
            <div class="garis-item">
            <div class="titik"></div>
            <div class="isi">
                <b>Freelance Model <span>(2024 - Present)</span></b>
                <p>Working effectively with photographers, MUAs, and creative directors to delivering high quality poses and expressions tailored to specific brand identities and creative briefs.</p>
            </div>
            </div>

            <div class="garis-item">
            <div class="titik"></div>
            <div class="isi">
                <b>Content Creator (Intern) | Sujan Interior Industry <span>(2025)</span></b>
                <p>Designed social media strategies and content pillars that highlighted the company’s aesthetic and functional design projects.</p>
            </div>
            </div>

            
        </section>

        <!-- CONTACT -->
        <section class="card contact">
            <h3>📞 Contact</h3>

            <div class="contact-item">
                🎀 <a href="https://mail.google.com/mail/?view=cm&fs=1&to=friskaputri1501@gmail.com">Email</a>
            </div>
            
            <div class="contact-item">
                🎀 <a href="https://www.instagram.com/frzch.abchtr_?igsh=MWwycmh3cm94dDhxdA%3D%3D&utm_source=qr" target="_blank">Instagram</a>
            </div>

            <div class="contact-item">
                🎀 <a href="https://www.tiktok.com/@freeska_?_r=1&_t=ZS-95oA11NFvTJ" target="_blank">Tiktok</a>
            </div>

            <div class="contact-item">
                🎀 <a href="https://wa.me/6285640949896" target="_blank">WhatsApp</a>
            </div>
        </section>

        <!-- SKILLS -->
        <section class="card span-2">
             <h3>💎 Skills</h3>

        <div class="skill">
            <span>Effective Communication</span>
            <span>90%</span>
        </div>
        <div class="progress">
        <div class="progress-bar" style="width:90%"></div>
        </div>

        <div class="skill">
            <span>Time Management</span>
            <span>90%</span>
        </div>
        <div class="progress">
        <div class="progress-bar" style="width:90%"></div>
        </div>

        <div class="skill">
            <span>Basic Financial Planning</span>
            <span>80%</span>
        </div>
        <div class="progress">
        <div class="progress-bar" style="width:70%"></div>
        </div>
        </section>

        <!-- HOBBIES -->
        <section class="card hob">
            <h3>🎨 Hobbies</h3>

                <div class="hob-item"> Cooking
                <div class="stars">★★★★★</div>
                </div>

                <div class="hob-item"> Traveling
                <div class="stars">★★★★☆</div>
                </div>

                <div class="hob-item"> Baking
                <div class="stars">★★★★☆</div>
                </div>

        </section>

        <!-- ARCHIVED -->
        <section class="card ar">
            
            <h3>💕 Archived My Experience </h3>
           
                <div class="foto">
                <img src="{% static 'img/1.jpeg' %}" alt="Profile">
                <img src="{% static 'img/2.jpeg' %}" alt="Profile">
                <img src="{% static 'img/3.jpeg' %}" alt="Profile">
                <img src="{% static 'img/4.jpeg' %}" alt="Profile">
                <img src="{% static 'img/5.jpeg' %}" alt="Profile">
                <img src="{% static 'img/6.jpeg' %}" alt="Profile">
                <img src="{% static 'img/7.jpeg' %}" alt="Profile">
                <img src="{% static 'img/8.jpeg' %}" alt="Profile">
                <img src="{% static 'img/9.jpeg' %}" alt="Profile">
                </div>
                
        </section>

    </main>

</div>

</body>
</html>